@font-face {
    font-family:PTSans-Bold;
    src: url(../../font/PT_Sans/PTSans-Bold.ttf);
}

@font-face {
    font-family:PTSans-Regular;
    src: url(../../font/PT_Sans/PTSans-Regular.ttf);
}
/* common start */
body{
    font-family:PTSans-Regular;
    font-size: 16px;
    font-weight: 400;
    color:#898989;
}
/* common end */

/* header start */
header{
    background-color: #fcdb00;
    padding: 20px 0;
}
.c_nav{}
.logo{}
.menu ul li a{
    font-size:22px;
    font-weight: 700;
    color: #010101 !important;
    padding: 0px 30px !important;

}
.menu ul li:last-child a{
    padding-right: 0 !important;
}

.menu ul li a:hover{
    color:white !important;
}
/* header end*/

/* slider start */
.slider{
    background-color: #fcdb00;
    padding-bottom: 100px;
}

.c_ind{
    bottom: -80px ;
}

.c_ind [data-bs-target] {
    width: 15px ;
    height: 15px ;
    border-radius: 50% ;
    background-color: #fff;
}

.carousel-indicators .active {
    opacity: 1;
}


.s_text{
    margin-top: 50px;
}
.s_text h1{
    font-family:PTSans-Bold;
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.s_text h2{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: #313841;

}
.s_text p{
    color: #555555;
    margin-bottom: 35px;
}
.s_icon{
}
.s_icon ul li{
    margin-right: 30px !important;
}
.s_icon ul li i{
    color: #010101;
    font-size: 42px;
    transition: .3s;
}
.s_icon ul li i:hover{
    transform: scale(.8);
}
.s_img{}
.s_img img{}
/* slider end */